/*
  Variables
*/
* {
  margin: 0;
  padding: 0;
  font-family: "Space Mono", monospace;
}

/*
  Color del placeholder
*/
::placeholder {
  color: hsl(184deg, 14%, 56%);
  font-weight: 700;
  margin-right: 0.8rem;
}

/*
  Estilos para celular
*/
body {
  background-color: hsl(185deg, 41%, 84%);
}

.header {
  width: 100%;
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__title {
  width: 17%;
  height: 30%;
}

.main {
  background-color: hsl(0deg, 0%, 100%);
  border-radius: 1rem 1rem 0 0;
  padding: 0.5rem 0 1.75rem;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1.4rem;
}
.form__box {
  width: 100%;
  margin-bottom: 1rem;
}
.form__box__label {
  font-weight: 700;
  font-size: 0.85rem;
  color: hsl(186deg, 14%, 43%);
}
.form__box__inputs {
  height: 2.2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: hsl(189deg, 41%, 97%);
  padding: 0.3rem 1rem;
  border-radius: 0.8rem;
  /* Chrome, Safari, Edge, Opera */
  /* Firefox */
}
.form__box__inputs input {
  border: none;
  outline: none;
  text-align: right;
  font-size: 1.5rem;
  background-color: hsl(189deg, 41%, 97%);
  color: hsl(183deg, 100%, 15%);
  font-weight: 700;
  z-index: 1;
  width: 95%;
}
.form__box__inputs input::-webkit-outer-spin-button,
.form__box__inputs input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.form__box__inputs input[type=number] {
  -moz-appearance: textfield;
}
.form__box__container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.form__box__container__btn {
  border: none;
  background-color: hsl(183deg, 100%, 15%);
  color: hsl(0deg, 0%, 100%);
  font-weight: 700;
  font-size: 1.5rem;
  border-radius: 0.4rem;
  width: 47%;
  margin-top: 0.8rem;
  padding: 0.7rem 0;
  outline: none;
  transition: 0.25s;
}
.form__box__container__btn:nth-child(odd) {
  margin-right: 6%;
}
.form__box__container__btn.active {
  background-color: hsl(172deg, 67%, 45%);
  color: hsl(183deg, 100%, 15%);
}
.form__box__container input {
  text-align: right;
  background-color: hsl(189deg, 41%, 97%);
  color: hsl(183deg, 100%, 15%);
  width: 45%;
  padding-right: 2%;
}
.form__calculate {
  border: none;
  background-color: hsl(172deg, 67%, 45%);
  color: hsl(183deg, 100%, 15%);
  font-size: 1.4rem;
  font-weight: 700;
  text-transform: uppercase;
  padding: 0.7rem 0;
  border-radius: 0.4rem;
}

.result {
  background-color: hsl(183deg, 100%, 15%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem 1rem;
  border-radius: 0.8rem;
  margin: 0 1.4rem;
}
.result__box {
  display: flex;
  color: hsl(0deg, 0%, 100%);
  justify-content: space-between;
  margin-bottom: 1.4rem;
}
.result__box h3 {
  font-size: 0.8rem;
}
.result__box h3 span {
  display: block;
  color: hsl(184deg, 14%, 56%);
}
.result__box p {
  color: hsl(172deg, 67%, 45%);
  font-size: 1.5rem;
  font-weight: 700;
}
.result__btn {
  border: none;
  background-color: hsl(172deg, 67%, 45%);
  color: hsl(183deg, 100%, 15%);
  font-size: 1.25rem;
  font-weight: 700;
  text-transform: uppercase;
  padding: 0.5rem 0;
  border-radius: 0.4rem;
  margin-top: 1rem;
}

@media screen and (min-width: 600px) {
  .header {
    height: 20vh;
  }
  .header__title {
    width: 7%;
    height: 28%;
  }
  .main {
    display: flex;
    justify-content: center;
    width: 90%;
    height: 60vh;
    border-radius: 1rem;
    margin: 0 auto;
  }
  .form {
    width: 50%;
  }
  .form__box__container__btn {
    width: 30%;
    padding: 0.2rem 0;
    margin-right: 0;
  }
  .form__box__container__btn:nth-child(1), .form__box__container__btn:nth-child(2), .form__box__container__btn:nth-child(4), .form__box__container__btn:nth-child(5) {
    margin-right: 2%;
  }
  .form__box__container input {
    width: 30%;
    padding-right: 0;
  }
  .result {
    width: 50%;
    justify-content: space-between;
  }
  .result__first {
    margin: 1rem 0;
  }
  .result__box:last-child {
    margin-top: 2.75rem;
  }
}
/*
  Clases de validacion
*/
.valid {
  border: 1px solid hsl(172deg, 67%, 45%);
}

.invalid {
  border: 1px solid red;
}

/*# sourceMappingURL=styles.css.map */
